# This value is required to avoid annoying warnings
inject-workspace-packages=true
# Workaround for pnpm v10 shared-lockfile deploy bug (https://github.com/pnpm/pnpm/issues)
force-legacy-deploy=true
# This value is only used when we set overrides in the root package.json
# force-legacy-deploy=true